p {
    color:aquamarine;
    text-align: center;
}
h1 {
    color:blue;
}
body {
    background-color: dimgray;
    text-align: center;
    align-items: center;
}
button {
    color:blueviolet;
    background-color: darkcyan;
    text-align: center;
}
h2 {
    color: greenyellow;
    text-align: center;
}
ul {
    color:white;
    text-align: center;
}
.purple-element {
    background-color: purple;

}
#pfp {
    height: 100px;
    width: 100px;
    border-radius: 0 40px 0 40px;
}